@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";


@theme {
  --text-primary: #000000;
  --color-btn-primary: #efeff3;
  --color-code-primary: #000000;
}

@theme {
  --font-serif: 'Inter Variable', sans-serif;
  --font-mono: 'JetBrains Mono Variable', monospace;
}

html, body {
    @apply font-serif;
    background-color: var(--ui-bg);
    color: var(--text-primary)
}

.code_text_area {
    @apply font-mono;
}

